{% load static %}
<footer class="p-4 bg-gray-200 flex flex-col rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-800 ">
    <div class="flex mx-5 md:flex-row flex-col flex-inline items-center md:justify-between">
      <a href="\" class="flex">
        <img src="{% static 'img\favicon.ico' %}" class="mr-3 ml-5 h-8" alt="homepage">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FullLove</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="{% url 'blog:about' %}" class="mr-4 hover:underline md:mr-6">About</a>
        </li>

        <li>
          <a href="{% url 'blog:privacy_policy' %}" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        
        <li>
          <a href="{% url 'blog:license' %}" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>

        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Content</a>
        </li>
      </ul>
    </div>
    <hr class="md:my-6   boder-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <span class="block text-sm text-gray=500 text-center dark:text-gray-400">
          © <span id="current_year"></span> <a href="\" class="hover:underline">fulllove.com.</a> All rights reserved. Imprint Privacy Policy
          <script>
            document.getElementById('current_year').innerHTML = new Date().getFullYear();
          </script>
        </span>
</footer>