{% extends 'base.html' %}
{% block body %}
  <div class="flex flex-col w-full items-center">
    <div class="w-full">
      {% include "blog/jumbotrom.html" %}
    </div>
    
    <div class="flex flex-col w-full lg:flex-row px-3 md:gap-x-3 md:mx-3 justify-center md:justify-between">
      <div class="md:basis-3/12 order-last md:order-first">
        {% block notification %}
           {% include "blog/notification.html" %} 
        {% endblock %}
      </div>

      <div class="md:basis-6/12 mb-5 px-3 py-2 bg-white-200 mx-5 my-3 order-first md:order-second">
        {% block content %}
          {% autoescape off %}
            {{ object.content }}
          {% endautoescape %}
        {% endblock %}
      </div>

      <div class="md:basis-3/12 my-5 grow-0 order-second md:order-last">
        {% block sidebar %}
          <!-- {% include "blog/sidebar.html" %} -->
        {% endblock %}
      </div>
    </div>

  </div>
{% endblock %}


