{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="flex flex-col md:flex-row lg:gap-x-7 lg:gap-y-9 gap-x-3 gap-y-4 align-center ">
  <div class="basis-1/4 order-last md:order-first"><!--NOTIFICATION-->
    {% block notification %}
    {% include "blog/notification.html" %}
    {% endblock %}
  </div><!--NOTIFICATION-->
  <div class="basis-3/4 flex-auto order-first md:order-second grow"><!--CONTENT-->
    {% block content%}
    <div class="">
      {% for obj in object_list %}
        <div class="md:mb-5 md:border shadow-md md:mb-5 bg-white-600">
          <div class="">
            <a href="{% url 'blog:article_detail' obj.id obj.slug %}" id="" class="font-bold px-4 hover:text-xl">
              {{ obj.title }} 
            </a>
            </div>
          <p></p>
          <span class="text-gray-500 text-xs p-4">
            {% for tag in obj.tags.all %}
              <a href="#!" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 dark:hover:bg-blue-300">{{ tag }}</a>
            {% endfor %}
            {{ obj.created|date }}
          </span>
              
          <div class="text-sm text-gray-600 px-3 py-4">
            <a href="{% url 'blog:article_detail' obj.id obj.slug %}" >
              {{ obj.content|truncatewords:45|safe }}
              <span class="hover:text-sm">(more)</span>
            </a>
          </div>
         <!--End of post-content div-->
          {% if obj.post_image %}
          <div class="flex flex-wrap justify-center bg-cover overflow-hidden h-auto max-w-full">
            <img
            src="{{ obj.post_image.url }}"
            class=""
            alt="..."
          />
          </div>
          {% endif %}
        </div><!-- /.blog-post -->
       
        {% endfor %}
        <hr>
      {% include 'blog/paginator.html' %}
    </div>
    
    {% endblock %}
  </div><!--CONTENT-->
  <div class="basis-2/5 order-second md:order-last"><!--SIDEBAR-->
    {% block sidebar %}
    {% include "blog/sidebar.html" %}
    {% endblock %}
  </div><!--SIDEBAR-->
</div>
{% endblock %}