{% extends 'base.html' %}
{% block body %}

<div class="flex flex-col md:flex-row lg:gap-x-7 lg:gap-y-9 gap-x-3 gap-y-4 align-center "><!-- I am content last-->
  <div class="md:basis-2/12  order-last md:order-first"><!--NOTIFICATION-->
    {% block notification %}
    <!-- {% include "blog/notification.html" %} -->
    {% endblock %}
  </div><!--NOTIFICATION-->
  <div class="md:basis-7/12 bg-blue-300 order-first md:order-second grow"><!--CONTENT-->
    {% block content%}
      {% include "blog/content.html" %}
    {% endblock %}
  </div><!--CONTENT-->
  <div class="md:basis-3/12 grow-0 order-second md:order-last"><!--SIDEBAR-->
    {% block sidebar %}
      <!-- {% include "blog/sidebar.html" %} -->
    {% endblock %}
  </div><!--SIDEBAR-->
</div><!-- I am content last-->

{% endblock %}