{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-397H9N9588"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-397H9N9588');
		</script>
    <title>
	{% block title %}
		{% if object.title %} 
			{{ object.title }} : 
		{% endif %}
		DeepSyntax 
	{% endblock %}
	</title>
		<!-- <script src="https://cdn.tiny.cloud/1/arhsp0g09j7sgm4c0n24ce7t2j5ludxxy8ul3r5xcdpiwmh5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="title" content="{{object.title|safe}}">
		<meta name="description" content="{{object.subcontent|striptags}}">
		<meta property="article:published_time" content="{{object.created|striptags}}" >
		<meta property="article:modified_time" content="{{object.update|striptags}}">
		<meta name="keywords" content="politics, economy, lifestyle, life, and, relationships">
		<meta name="author" content="cjdev">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{object.title|safe}}">
		<meta property="og:url" content="{{ request.get_host }}{{ request.path_info }}">
		<meta property="og:site_name" content="DeepSyntax">
		
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style_boot.css' %}">
		<link rel="icon" type="image/icon" href="{% static '/img/favicon.ico' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" /> 
		<link href='{% static "tinymce/css/prism.css" %}' rel="stylesheet">
		{% tailwind_css %}

		{% comment %} google adsense code {% endcomment %}
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7097495096396779"
     crossorigin="anonymous"></script>
	</head>
	
	<body class="bg-white w-full h-screen font-leading-normal tracking-normal">
		<div class="flex flex-col justify-between ">
			<div class="basis-1/12">
				{% block nav %} 
				{% include 'blog/nav_boot.html' %}
				{% endblock %}
			</div>
			
			<div class="basis-9/12 md:mx-5 md:mx-3 md:px-5">
				{% block body %}
				<!-- Enable when you get a banner -->
				<!-- {% block sidebar %}{% endblock %} -->
				{% endblock %}
			</div>
			
			<div class="basis-2/12">
				{% block footer %}
				{% include "blog/footer.html" %}
				{% endblock %}
			</div>
			
		</div>
		<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
		<script src="{% static 'tinymce/js/prism.js' %}"></script>
		<!-- <script>
			tinymce.init({
			  selector: 'textarea',
			  plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
			  toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
			  toolbar_mode: 'floating',
			  tinycomments_mode: 'embedded',
			  tinycomments_author: 'Author name',
			});
		  </script> -->

		  <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
	</body>
</html>
