{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% if object.slug %} {{ object.slug }} : {% endif %}DeepSyntax {% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style_boot.css' %}">
    	<link rel="icon" type="image/icon" href="{% static '/img/favicon.ico' %}">
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
		{% tailwind_css %}
	</head>
	
	<body class="bg-gray-100 w-full h-screen font-leading-normal tracking-normal">
		<div class="flex flex-col justify-between ">
			<div class="basis-1/12">
				{% block nav %} 
				{% include 'blog/nav_boot.html' %}
				{% endblock %}
			</div>
			
			<div class="basis-9/12 md:mx-5 md:mx-3 md:px-5">
				{% block body %}
				<!-- Enable when you get a banner -->
				<!-- {% block sidebar %}{% endblock %} -->
				{% endblock %}
			</div>
			
			<div class="basis-2/12">
				{% block footer %}
				{% include "blog/footer.html" %}
				{% endblock %}
			</div>
			
		</div>
		<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
	</body>
</html>
